@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@100&display=swap');
*{
  margin:0;
  padding: 0;
  text-decoration: none;
}

:root{
  --background-color: #1f1f38;
  --color-primary: #4db5ff;
  --color-white: white;
}

body{
  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;
  background-image: url(../public/Images/bg-texture.jpg);
}


